/* line 1, /Users/karinhendrikse/Projects/DOC2017/TumblyPstr/app/assets/stylesheets/slideshow.css.scss */
.cb-slideshow,
.cb-slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
}

/* line 10, /Users/karinhendrikse/Projects/DOC2017/TumblyPstr/app/assets/stylesheets/slideshow.css.scss */
.cb-slideshow:after {
  content: '';
}

/* line 13, /Users/karinhendrikse/Projects/DOC2017/TumblyPstr/app/assets/stylesheets/slideshow.css.scss */
.cb-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
  -webkit-animation: imageAnimation 36s linear infinite 0s;
  -moz-animation: imageAnimation 36s linear infinite 0s;
  -o-animation: imageAnimation 36s linear infinite 0s;
  -ms-animation: imageAnimation 36s linear infinite 0s;
  animation: imageAnimation 36s linear infinite 0s;
}

/* line 32, /Users/karinhendrikse/Projects/DOC2017/TumblyPstr/app/assets/stylesheets/slideshow.css.scss */
.cb-slideshow li div {
  z-index: -1;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  -webkit-animation: titleAnimation 36s linear infinite 0s;
  -moz-animation: titleAnimation 36s linear infinite 0s;
  -o-animation: titleAnimation 36s linear infinite 0s;
  -ms-animation: titleAnimation 36s linear infinite 0s;
  animation: titleAnimation 36s linear infinite 0s;
}

/* line 47, /Users/karinhendrikse/Projects/DOC2017/TumblyPstr/app/assets/stylesheets/slideshow.css.scss */
.cb-slideshow li div h3 {
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  font-size: 240px;
  padding: 0;
  line-height: 200px;
}

/* line 53, /Users/karinhendrikse/Projects/DOC2017/TumblyPstr/app/assets/stylesheets/slideshow.css.scss */
.cb-slideshow li:nth-child(1) span {
  background-image: url(/assets/picture1-06b0de532fcf1415198fd16fc36918268ce06d5e0ca7a5f652011e64d46f7d15.gif);
}

/* line 56, /Users/karinhendrikse/Projects/DOC2017/TumblyPstr/app/assets/stylesheets/slideshow.css.scss */
.cb-slideshow li:nth-child(2) span {
  background-image: url(/assets/picture2-43cdefdbf49135a1d48141ba9dc5a1efda932dd5c75ceef3f783bb8d0fb3e291.gif);
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}

/* line 64, /Users/karinhendrikse/Projects/DOC2017/TumblyPstr/app/assets/stylesheets/slideshow.css.scss */
.cb-slideshow li:nth-child(3) span {
  background-image: url(/assets/picture3-084a5127cf6caf748a7844bad9a0fa770fcbc4e6367a4f1b131773fdd2a9388c.gif);
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
}

/* line 72, /Users/karinhendrikse/Projects/DOC2017/TumblyPstr/app/assets/stylesheets/slideshow.css.scss */
.cb-slideshow li:nth-child(4) span {
  background-image: url(/assets/picture4-9e4c233927ad5c33ec4e99cd82826e3311b5589682e273d224d105588a45d400.gif);
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s;
}

/* line 80, /Users/karinhendrikse/Projects/DOC2017/TumblyPstr/app/assets/stylesheets/slideshow.css.scss */
.cb-slideshow li:nth-child(5) span {
  background-image: url(/assets/picture5-25b7d8fe8bfe1f8d33f922eb388a7d1008a699625d66e86307fef6bba828dca9.gif);
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -o-animation-delay: 24s;
  -ms-animation-delay: 24s;
  animation-delay: 24s;
}

/* line 88, /Users/karinhendrikse/Projects/DOC2017/TumblyPstr/app/assets/stylesheets/slideshow.css.scss */
.cb-slideshow li:nth-child(6) span {
  background-image: url(/assets/picture6-67aa8176a06cbd79f8ba9ee873268363ab2d661249189ac0781e2de6c97d6b36.gif);
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  -o-animation-delay: 30s;
  -ms-animation-delay: 30s;
  animation-delay: 30s;
}

/* line 96, /Users/karinhendrikse/Projects/DOC2017/TumblyPstr/app/assets/stylesheets/slideshow.css.scss */
.cb-slideshow li:nth-child(2) div {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}

/* line 103, /Users/karinhendrikse/Projects/DOC2017/TumblyPstr/app/assets/stylesheets/slideshow.css.scss */
.cb-slideshow li:nth-child(3) div {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
}

/* line 110, /Users/karinhendrikse/Projects/DOC2017/TumblyPstr/app/assets/stylesheets/slideshow.css.scss */
.cb-slideshow li:nth-child(4) div {
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s;
}

/* line 117, /Users/karinhendrikse/Projects/DOC2017/TumblyPstr/app/assets/stylesheets/slideshow.css.scss */
.cb-slideshow li:nth-child(5) div {
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -o-animation-delay: 24s;
  -ms-animation-delay: 24s;
  animation-delay: 24s;
}

/* line 124, /Users/karinhendrikse/Projects/DOC2017/TumblyPstr/app/assets/stylesheets/slideshow.css.scss */
.cb-slideshow li:nth-child(6) div {
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  -o-animation-delay: 30s;
  -ms-animation-delay: 30s;
  animation-delay: 30s;
}

/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes imageAnimation {
  0% {
    opacity: 0;
    -moz-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -moz-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes imageAnimation {
  0% {
    opacity: 0;
    -o-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -o-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes imageAnimation {
  0% {
    opacity: 0;
    -ms-animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -ms-animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* Animation for the title */
@-webkit-keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* Show at least something when animations not supported */
/* line 214, /Users/karinhendrikse/Projects/DOC2017/TumblyPstr/app/assets/stylesheets/slideshow.css.scss */
.no-cssanimations .cb-slideshow li span {
  opacity: 1;
}

@media screen and (max-width: 1140px) {
  /* line 219, /Users/karinhendrikse/Projects/DOC2017/TumblyPstr/app/assets/stylesheets/slideshow.css.scss */
  .cb-slideshow li div h3 {
    font-size: 140px;
  }
}
@media screen and (max-width: 600px) {
  /* line 222, /Users/karinhendrikse/Projects/DOC2017/TumblyPstr/app/assets/stylesheets/slideshow.css.scss */
  .cb-slideshow li div h3 {
    font-size: 80px;
  }
}
/* line 224, /Users/karinhendrikse/Projects/DOC2017/TumblyPstr/app/assets/stylesheets/slideshow.css.scss */
ul {
  list-style-type: none;
}
