<!--
  This is the form that asks the visitor to
  enter a keyword to search with on Tumblr.
-->
<div class="container" id="search_box">
  <br/><br/>
  <div class="row">
    <div class="twelve columns">
      <div class="ten columns offset-by-one columns">
        <center>
        <h1>Create a poster about
          <span
          class="txt-rotate"
          data-period="2000"
          data-rotate='[ "#harrypotter.", "#danandphil.", "#memes.", "#disney.", "#starwars" ]'></span>
        </h1>
        <br/>
        <h3>What's your&nbsp;&nbsp;
          <form action="/pages/poster" style="margin: 0; padding: 0; width: 200px; height: 70px; display: inline;">
            <input style="display: inline; width: 200px; height: 70px;" placeholder=" #Fandom" type="text" name="tumblrSearch">&nbsp;&nbsp;?
            <br>
            <button style="display: inline; width: 400px; height: 60px;" type="submit">grab your poster</button>
          </form>
          <br/>
        </center>
      </div>
    </div>
  </div>
</div>

<!-- This is where the Ruby comes in -->

<!-- Would like to figure out exactly how this line works -->
