body {
  background-color: #00C7B8;
}

#search_box {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  margin-top: 3%;
  padding: 10px 10px 0px 10px;
}

.topnav {
  margin: 0;
  padding: 10px 10px 5px 10px;
  overflow: hidden;
  background-color: #333;
  z-index: 2;
}
#subtitle {
  color: #5B5B5B;
  margin-top: 13px;
  text-align: right;
}
