body {
  background: #000000;
}

#pictures_box {
  position: absolute;
  margin-top: 25px;
  z-index: 1;
  padding-bottom: 18px;

  }

.pictures {
  float: left;
  width: 119px;
  height: 119px;
  -o-object-fit: cover;
     object-fit: cover;
}

#yay_message {
  color: #ffffff;
  text-align: center;
  margin-bottom: 0;
  font-family: 'Pacifico', cursive;
}

#zoekwoord {
    position: absolute;
    color: #ffffff;
    text-align: center;
    margin-top: 400px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 80px;
    z-index: 2;
}
#zoekwoord span {
    background-color: #000000;
    padding: 20px;
}
