body {
  background-color: #00C7B8;
}

#pictures_box {
  background-color: #ffffff;
  border-radius: 10px 10px 10px 10px;
  margin-top: 2%;
  padding: 40px;
}
#search_box {
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 4%;
  padding: 10px 10px 0px 10px;
}

.topnav {
  margin: 0;
  padding: 10px 10px 5px 10px;
  overflow: hidden;
  background-color: #333;
  z-index: 2;
}
#subtitle {
  color: #5B5B5B;
  margin-top: 13px;
  text-align: right;
}

#yay_message {
  margin-top: 2%;
  text-align: center;
  margin-bottom: 0;
  font-family: 'Pacifico', cursive;
}


.pictures {
  float: left;
  width: 170px;
  height: 170px;
  object-fit: cover;
}
